@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
* {
  font-family: "Afacad", sans-serif;
  scroll-behavior: smooth;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/**
*
*    COLORS
*
*/

$Background: #081116;

$Text: #e3edf2;
$Text-10: #e3edf21a;
$Text-25: #e3edf240;

$White: #ffffff;
$White-50: #ffffff80;
$White-25: #ffffff40;

$Primary: #299fe0;

$Green: #99df93;
$Green-25: #99df9340;

$Red: #db5353;
$Red-25: #db535340;

/**
*
*    FILTERS
*
*/

$Unsaturated: saturate(0);
$Saturated: saturate(1);

$Icon-purple: invert(76%) sepia(20%) saturate(319%) hue-rotate(212deg)
  brightness(96%) contrast(81%);

/**
*
*    MIXINS
*
*/
