@use "../../Shared.scss" as *;

.Player {
  background: $Secondary-20;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 5px);
  border: 1px solid $Text-25;
  gap: 10px;

  &_Info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1 0 0;
    width: 100%;
    height: 100%;
  }
  &_Name {
    font-weight: 700;
    font-size: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &_Snaps {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
  }

  &_Icon {
    aspect-ratio: 1/1;
    width: 32px;
    min-width: 32px;
    min-height: 32px;
  }
}

.Ready {
  box-shadow: $Green 0px 0px 5px;
}
